.formHandle{
    margin-left: 40px;
    margin-top: 30px;
    width: 1000px;
}
.label-1{
    color: rgb(15, 17, 17);
   font-size: 15px;
   font-weight: 500;
}
.header{
    display: flex;
    justify-content: space-between;
}
.btn button{
    margin-top: 17px;
    margin-left: 20px;
    padding: 8px 30px;
    border-radius: 5px;
    color: aliceblue;
}
#cancel{
    background-color: #f7685b;
    border: 1px solid #f7685b;
}
#live{
    background-color: #109cf1;
    border: 1px solid #109cf1;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo input {
    margin-top: 8px;
}
.cname{
    display: flex;
    gap: 20px;
}
.inputType2{
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inputType2 input{
    margin-top: 8px;
    width: 90%;
    height: 30px;
}
.deal{
    margin-bottom: 10px;
}
.text-1{
    margin-top: 10px;
    width: 98%;
    height: 40px;
    border-radius: 5px;
}