.linkbar{
    padding: 20px 0px;
    text-align: center;
}
.link{
    text-decoration: none;
    color: #071a12b6;
    font-size: 20px;
    margin-left: 30px;
    border: 1px solid black;
    padding: 4px 30px;
    font-weight: 500;
    cursor: pointer;
    background-color: #700e58b6;
    color: aliceblue;
    border-radius: 8px;
}








